section
{
  /*border:1px solid black;*/
  width:1200px;
  margin-left:150px;
  position:relative;
  margin-top: 30px;

  #category-title
  {
    border-top:1px solid black;
  }

  h1
  {
    border-bottom:1px solid rgb(153,153,153);
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  #subtitle
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:39px;
    margin-top: auto;
    margin-bottom: auto;
    #author-date
    {
      width:200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p
      {
        font-size:0.65em;
      }
      .author
        {
          font-weight: bold;
        }
    }
    #logo-image
    {
      margin-bottom: auto;
      margin-bottom: auto;
    }
  }
  
  article
  {
    /*border:1px solid blue;*/
    width:600px;
    margin-left: 40px;
    display: inline-block;
    p
    {
      line-height: 160%;
    }
    .floating
    {
      width:310px;
      height:160px;
      border-top:solid 1px rgb(226,226,226);
      border-bottom:solid 1px rgb(226,226,226);
      margin-right: 15px;
      margin-bottom: 15px;
      float:left;
      h2
      {
        margin-bottom:0;
      }
      p
      {
        font-size:0.9em;
        margin-top:0;
        margin-bottom:0;
      }
      .button
      {
        font-weight: bold;
        padding:10px;
        background-color:rgb(243,243,243);
        border: solid 0.5px rgb(226,226,226);
        border-radius: 4px; 
        font-size:1em;
        width:95px;
        margin-top:10px;
        margin-bottom:10px;

      }
      .button:hover
      {
        background-color:rgb(85,118,144);
        color:white;
      }
      .links
        {
          font-size:0.7em;
          border-top:solid 1px rgb(226,226,226);
          color:rgb(153,153,153);
          padding-top:5px;
        }
    }
  }

  .image-bloc
  {
    p
    {
      width:600px;
      color: rgb(102,102,102);
      font-size:0.9em;
      margin-top:0;
      .author
      {
        color: rgb(153,153,153);
        font-size:0.8em;
      }
    }
  }

  aside
      {
        /*border:1px solid red;*/
        display: inline-block;
        vertical-align: top;
        position:absolute;
        right:0;
        width:400px;
        margin-right:20px;
        padding-top: 60px;
        .picture-title
        {
          display: flex;
          flex-direction: row;
        }
        h1
        {
          font-size: 0.8em;
          color:rgb(41,86,120);
          padding:0;
          margin:0;
          border:none;
          text-transform: uppercase;
        }
        .comment-bloc
        {
          margin-top: 5px;
          font-size: 0.9em;
          .author-comment
          {
            display:inline-block;
            font-weight: bold;
          }
          .date-comment
          {
            display:inline-block;
            color: rgb(102,102,102); 
          }
          p
          {
            margin-top:0;
            color:rgb(153,153,153);
            font-size: 0.8em;
            font-family: "nyt-franklin",arial,helvetica,sans-serif;
          }
        }
        h2
        {
          margin:0;
          border-top:1px solid rgb(153,153,153);
          font-size:0.7em;
          color:rgb(41,86,120);
          text-transform: uppercase;
        }
      }

    .scheme
    {
      width:880px;
      font-size: 0.8em;
      border-top: 1px solid rgb(226,226,226);
      #scheme-series
      {
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
        .scheme-element
        {
          width:220px;
          height: 270px;
          font-family: nyt-franklin,arial,helvetica,sans-serif;
          .title-scheme
          {
            text-transform: uppercase;
            font-weight: bold;
          }
        }  
      }
      
    }

    .author-scheme
    {
      border-bottom: 1px solid rgb(226,226,226);
      color:rgb(153,153,153);
    }

    .video-element
    {
      padding-top: 20px;
      padding-bottom: 20px;
      p
      {
        font-size:0.8em;
        color:rgb(153,153,153);
      }
      .author
        {
          font-size:0.65em;
        }

    }

    .comment-image
    {
      width:645px;
      font-size:0.8em;
      color:rgb(102,102,102);
      .author
      {
        color:rgb(135,135,135);
      }
    }

    .floating-right
    {
      float:right;
      margin-left:20px;
    }

    .traits
    {
      width:60px;
      border-bottom: solid 1px rgb(102,102,102);
    }

    .compliance
    {
      font-size: 0.8em;
      color:rgb(102,102,102);
      padding-top: 20px;
      padding-bottom: 20px;
    }
}
